@import "components/card/card.css";
@import "components/search-bar/search-bar.css";
@import "components/nav-button/nav-button.css";
@import "components/nav-pagination/nav-pagination.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: #139dac;
  --color-secondary: #e3eaa7;
  --font-family: system-ui;
}

body {
  font-family: "comic sans ms";
  color: var(--color-primary);
  padding: 20px;
  background-image: url("../r&m bg.avif");
  background-attachment: fixed;
}

main {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  padding: 10px 0;
  /* font-family: "get schwifty"; */
  /* color: var(--color-primary); */
  height: 150px;
  width: 300px;
}
